@font-face {
  font-family: "NetflixSans_W_Blk";
  src: url("/fonts/NetflixSans_W_Blk.woff") format("woff");
}

@font-face {
  font-family: "NetflixSans_W_Rg";
  src: url("/fonts/NetflixSans_W_Rg.woff") format("woff");
}

@font-face {
  font-family: "NetflixSans_W_Md";
  src: url("/fonts/NetflixSans_W_Md.woff") format("woff");
}